<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8f0a7">  <td>16/02/21 16:12:41</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ACOTestNG.endSession()[pri:0, instance:user.TestNG.testcases.ACOTestNG@776ecadb]">&lt;&lt;endSession</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1752207528</td>   <td></td> </tr>
<tr bgcolor="f8f0a7">  <td>16/02/21 16:12:15</td>   <td>-25809</td> <td>&nbsp;</td><td title="&gt;&gt;ACOTestNG.setBaseURL()[pri:0, instance:user.TestNG.testcases.ACOTestNG@776ecadb]">&gt;&gt;setBaseURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1752207528</td>   <td></td> </tr>
<tr bgcolor="f8f0a7">  <td>16/02/21 16:12:40</td>   <td>-252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ACOTestNG.verifyLogin()[pri:0, instance:user.TestNG.testcases.ACOTestNG@776ecadb]">verifyLogin</td> 
  <td>main@1752207528</td>   <td></td> </tr>
</table>
